<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <button pTooltip="Dashboard" pButton pRipple type="button" icon="pi pi-home"
      class="p-button-rounded" style="background-color: #3E4E50;border-color: #647e82;" (click)="redirectToDashboard()"></button>
  </ng-template>
  <ng-template pTemplate="end">
    <button pTooltip="Logout" pButton pRipple type="button" icon="pi pi-upload"
      class="p-button-rounded p-button-secondary" (click)="logout($event)"></button>
  </ng-template>
</p-menubar>

<div class="content" *ngIf="!loadingData">
  <div class="card-wrapper card-space">
    <div class="card card-bg dimensioneCard mt-3">
      <div class="card-body mb-5">
        <div>
          <button pButton pRipple type="button" icon="pi pi-angle-left" iconPos="left" label="Indietro" 
            class="p-button-raised p-button-warning" (click)="goBack()"
          ></button>
          <span class="detail-header ">Dettaglio Issue n°<b>{{detailIssue.id}}</b></span>
          <p-divider></p-divider>
        </div>
        <form [formGroup]="formDetailIssue" (submit)="modifyIssue()">
          <div class="row">
            <div class="col-12 text-center">
              <span id="title-form">Stato</span>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 text-center">
              <p-selectButton [options]="stateOptions" formControlName="state" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <span id="title-form">Titolo</span>
            </div>
            <div class="col-3">
              <span id="title-form">Aperto per</span>
            </div>
            <div class="col-3">
              <span id="title-form">Assegnato a</span>
            </div>
            <div class="col-3">
              <span id="title-form">Priorità</span>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <input type="text" pInputText formControlName="title">
            </div>
            <div class="col-3">
              <p-dropdown [options]="tipologicaTo" formControlName="openTo" placeholder="Seleziona..."
                optionLabel="description" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-3">
              <p-dropdown [options]="allUser" formControlName="fkUserId" placeholder="Seleziona..."
                optionLabel="username" optionValue="id" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-3">
              <p-dropdown [showClear]="true" formControlName="priority" name="priority" optionValue="value"
                [options]="tipologicaPriority" appendTo="body" placeholder="Seleziona..."
                emptyMessage="Nessun risultato trovato">
                <ng-template let-item pTemplate="selectedItem">
                  <ng-container [ngSwitch]="item.value">
                    <div *ngSwitchCase="-1">
                      <i class="pi pi-arrow-down iconPriority low"></i><span style="margin-left: 10px; padding: 1%;">{{
                        item.description }}</span>
                    </div>
                    <div *ngSwitchCase="0">
                      <i class="pi pi-arrows-v iconPriority medium"></i><span style="margin-left: 10px; padding: 1%;">{{
                        item.description }}</span>
                    </div>
                    <div *ngSwitchCase="1">
                      <i class="pi pi-arrow-up iconPriority high"></i><span style="margin-left: 10px; padding: 1%;">{{
                        item.description }}</span>
                    </div>
                  </ng-container>
                </ng-template>

                <ng-template let-item pTemplate="item">
                  <ng-container [ngSwitch]="item.value">
                    <div *ngSwitchCase="-1">
                      <i class="pi pi-arrow-down iconPriority low"></i><span style="margin-left: 10px; padding: 1%;">{{
                        item.description }}</span>
                    </div>
                    <div *ngSwitchCase="0">
                      <i class="pi pi-arrows-v iconPriority medium"></i><span style="margin-left: 10px; padding: 1%;">{{
                        item.description }}</span>
                    </div>
                    <div *ngSwitchCase="1">
                      <i class="pi pi-arrow-up iconPriority high"></i><span style="margin-left: 10px; padding: 1%;">{{
                        item.description }}</span>
                    </div>
                  </ng-container>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <span id="title-form">Descrizione</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
            </div>
          </div>
          <div class="text-center mt-5" *ngIf="loggedUser.role === 'ADMIN'">
            <button pButton pRipple type="reset" label="Pulisci campi" class="p-button-outlined p-button-warning"
              icon="pi pi-trash" iconPos="right"></button>
            <button [disabled]="formDetailIssue.invalid" pButton pRipple type="submit" label="Modifica" class="p-button-raised ml-1" icon="pi pi-check"
              iconPos="right"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>