<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <button pTooltip="Logout" pButton pRipple type="button" icon="pi pi-upload"
      class="p-button-rounded p-button-secondary" (click)="logout($event)"></button>
  </ng-template>
</p-menubar>

<div class="card">
  <p-tabView styleClass="tabview-custom" (onChange)="reinitializeMyComponent($event)">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="spanCustom">All Issues</span>
        <i class="pi pi-bars" style="margin-top: 4px;"></i>
      </ng-template>
      <div class="content">
        <app-all-issues #allIssues></app-all-issues>
      </div>
    </p-tabPanel>

    <ng-template [ngIf]="loggedUser.role === 'ADMIN'" [ngIfElse]="defaultUser">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span class="spanCustom">New Issue</span>
          <i class="pi pi-plus" style="margin-top: 4px;"></i>
        </ng-template>
        <div class="content">
          <app-create-issue></app-create-issue>
        </div>
      </p-tabPanel>
    </ng-template>

    <ng-template #defaultUser>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span class="spanCustom">My Issue</span>
          <i class="pi pi-table" style="margin-top: 4px;"></i>
        </ng-template>
        <p>Sono User</p>
      </p-tabPanel>
    </ng-template>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="spanCustom">Search Issue</span>
        <i class="pi pi-search" style="margin-top: 4px;"></i>
      </ng-template>
      <div class="content">
        <app-search-issues #searchIssues></app-search-issues>
      </div>
    </p-tabPanel>

  </p-tabView>
</div>

<p-confirmPopup></p-confirmPopup>