<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <button pTooltip="Logout" pButton pRipple type="button" icon="pi pi-upload"
      class="p-button-rounded p-button-secondary" (click)="logout($event)"></button>
  </ng-template>
</p-menubar>

<div class="card">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>All Issues</span>
        <i class="pi pi-bars" style="margin-top: 4px;"></i>
      </ng-template>
      <div class="content">
        <h1 class="animate__animated animate__bounce">An animated element</h1>
      </div>
    </p-tabPanel>

    <ng-template [ngIf]="loggedUser.role === 'ADMIN'" [ngIfElse]="defaultUser">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>New Issue</span>
          <i class="pi pi-plus" style="margin-top: 4px;"></i>
        </ng-template>
        <p>Sono admin</p>
      </p-tabPanel>
    </ng-template>

    <ng-template #defaultUser>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>My Issue</span>
          <i class="pi pi-table" style="margin-top: 4px;"></i>
        </ng-template>
        <p>Sono User</p>
      </p-tabPanel>
    </ng-template>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Search Issue</span>
        <i class="pi pi-search" style="margin-top: 4px;"></i>
      </ng-template>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati
        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
        fuga. Et harum quidem rerum facilis est et expedita distinctio.
        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-tabPanel>

  </p-tabView>
</div>

<p-confirmPopup></p-confirmPopup>