.container-issues {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.child-div {
    flex: 1;
    border: 3px solid black;
    border-radius: 10px;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgb(26, 20, 35) 0%,
            rgb(55, 37, 73) 25%,
            rgb(119, 76, 96) 50%,
            rgb(183, 93, 105) 75%,
            rgb(234, 205, 194) 100%);
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

[pDraggable] {
    cursor: move;
}

.state-issue {
    color: white;
}

.label-card {
    font-weight: 700;
}

:host ::ng-deep .p-card .p-card-body {
    padding: 0.5rem;
}

:host ::ng-deep .p-card .p-card-header {
    background-color: floralwhite;
    border-radius: 4px;
}

.labelId {
    font-size: 20px;
    font-weight: 700;
}

.no-issue {
    padding: 4%;
    text-align: center;
    font-weight: 700;
}