#title-form {
    font-weight: bold;
    font-size: 19px;
    color: black;
}

.login-page {
    height: 86vh !important;
}

.login-form {
    background-color: #8ca4a6;
    padding: 2%;
    border-radius: 5px;
}

:host ::ng-deep .p-inputtext  {
    border-radius: 4px !important;
}